.filter_part a:hover,
.menu a:hover,
.menu_b a:hover {
  position: relative;
  text-decoration: none !important; }
  .filter_part a:hover:after,
  .menu a:hover:after,
  .container_content a:hover:after,
  .menu_list li a:hover:after,
  .sponsor_list .data_sponsor .content_sponsor a:hover:after,
  .menu_b a:hover:after {
    /*content: "";*/
    content: none;
    background-image: url(/local/templates/dinamo/css/../img/ico/mini_wave.svg);
    background-position: left;
    background-size: cover;
    display: block;
    height: 14px;
    left: 0;
    right: 0;
    position: absolute; }
  .filter_part a:hover,
  .menu a:hover,
  .menu_list li a:hover,
  .sponsor_list .data_sponsor .content_sponsor a:hover,
  .container_content a:hover,
  .menu_b a:hover {
    color: #FF57BA; }

.menu_b a:hover:after {
  background-image: url(/local/templates/dinamo/css/../img/ico/mini_wave_white.svg); }

.menu_list li a {
  position: relative; }
  .menu_list li a:hover:after {
    /*content: "";*/
    content: none;
    background-image: url(/local/templates/dinamo/css/../img/ico/mini_wave_white.svg);
    background-position: left;
    background-size: cover;
    display: block;
    height: 14px;
    left: 0;
    right: 0;
    position: absolute; }

body.active_menu .soc_t {
  display: flex !important; }
@media (max-width: 426px) {
  body.active_menu .container_ui .logo_place path {
    display: none; } }
body.active_menu .container_ui .logo_place path.mob_logo {
  display: block; }

@media (max-width: 426px) {
  .container_ui .logo_place path {
    display: block;
    transform: scale(0.8); } }

.sb_share {
  background-image: url("../img/shar.svg");
  width: 904px;
  height: 1378px;
  position: absolute;
  right: 0;
  top: 90%;
  z-index: -1; }

.calendar_slider_place .owl-stage .owl-item .card {
  min-height: 405px; }
.calendar_slider_place .owl-stage .owl-item .active .card {
  background-color: #3066BF; }
.slider_team_place .data_player .name {
  word-spacing: 9999999px; }

.card .vs_text.sb_vs_big {
  font-size: 48px !important; }

.but_to_top:after {
  content: '';
  position: relative;
  top: 15px;
  left: 5px;
  width: 18px;
  height: 24px;
  display: block;
  background-image: url(../img/arrow_top_one.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
  transform: matrix(0, 1, 1, 0, 0, 0);
  -webkit-transition: background 800ms ease;
  -moz-transition: background 800ms ease;
  -ms-transition: background 800ms ease;
  -o-transition: background 800ms ease;
  transition: background 800ms ease; }
.but_to_top:hover:after {
  background-image: url(../img/arrow_top.svg);
  -moz-transform: scale(1.5) rotate(-90deg);
  -webkit-transform: scale(1.5) rotate(-90deg);
  -o-transform: scale(1.5) rotate(-90deg);
  -ms-transform: scale(1.5) rotate(-90deg);
  transform: scale(1.5) rotate(-90deg); }

.slider_multiple_2 .owl-item {
  max-width: 300px; }
  .slider_multiple_2 .owl-item .news {
    max-width: 300px; }
.slider_multiple_2 .news .sb_pic {
  width: 100%;
  height: 100%;
  display: block;
  background-position: center;
  background-position-y: inherit; }

.sb_club .h1 {
  padding-bottom: 0px; }
.sb_club .data_sponsor {
  width: calc( 100% - 440px ); }
.sb_club .logo_sponsor {
  width: 440px;
  height: 440px; }

.card_sport .img_with_wave .num{
	z-index: 5;
}

.page_calendar_place > .double_side{
	grid-template-columns: 1fr 2fr;	
}
.page_calendar_place > .double_side .left-side{
	margin-right: 20px;
}