@media (min-width: 1199px) {
	.list_team .player:nth-child(4n) {
		margin-right: 0;
	}
	.calendar_slider_place .match_results_list .card:nth-child(3n) {
		margin-right: 0;
	}
	.pager_cards_list .pager_card:nth-child(3n) {
		margin-right: 0;
	}
	.pager_cards_list.grid .pager_card:nth-child(2) {
		-ms-grid-column: 2;
		grid-column-start: 2;
		-ms-grid-column-span: 2;
		grid-column-end: 4;
		-ms-grid-row: 1;
		grid-row-start: 1;
		-ms-grid-row-span: 2;
		grid-row-end: 3;
		width: 100%;
		margin-right: 0;
	}
	.pager_cards_list.grid .pager_card:nth-child(2) .link {
		font-size: 32px;
	}
}
@media (max-width: 1199px) and (min-width: 991px) {
	.list_team .player:nth-child(3n) {
		margin-right: 0;
	}
	.calendar_slider_place .match_results_list .card:nth-child(2n) {
		margin-right: 0;
	}
	.match_results_list,
	.pager_cards_list {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.pager_cards_list .pager_card:nth-child(2n) {
		margin-right: 0;
	}
}
@media (min-width: 769px) {
	.slider_multiple_2 .owl-stage {
		overflow: hidden;
		height: 400px;
	}
}
@media (min-width: 991px) {
	.slider_multiple_2 .owl-stage-outer {
		margin-left: -300px;
	}
	.slider_multiple_2 .owl-item.active.center {
		max-width: 630px !important;
	}
	.slider_multiple_2 .owl-item.active.center .news {
		max-width: 630px !important;
		width: 100% !important;
	}
	.news_slider_place .news:first-child {
		width: 630px;
	}
	.desc_b .part {
		-webkit-box-flex: 2;
		-ms-flex: 2;
		flex: 2;
	}
	.desc_b .part:last-child {
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
	}
}
@media (max-width: 991px) and (min-width: 767px) {
	.list_team .player:nth-child(2n) {
		margin-right: 0;
	}
}
@media (max-width: 1199px) {
	.special_date_title .right_date * {
		font-size: 18px;
	}
	.pager_cards_list.grid {
		-ms-grid-columns: (1fr) [2];
		grid-template-columns: repeat(2, 1fr);
	}

	.pager_cards_list.rain {
		grid-template-columns: repeat(2, 1fr);
	}

	.container_ui {
		max-width: 1024px;
	}
	.slider_team_place:before {
		background-size: auto;
		background-position: top right;
	}
	.b_waves {
		background-position: right;
	}
	.active_menu .mega_menu {
		padding: 40px 80px;
	}
	.main_banner {
		padding: 60px 0 0 0;
	}
	.main_banner img {
		width: 190px;
		padding-bottom: 40px;
	}
	.main_banner .page_title {
		margin-top: 0;
		padding-bottom: 25px;
		font-size: 50px;
	}
	.container_content p,
	.container_content span,
	.container_content {
		color: #1a1a1a;
		font-size: 18px;
	}
	.container_content h1 {
		font-size: 38px;
		font-weight: 700;
	}
	.container_content h2 {
		font-size: 28px;
		font-weight: 500;
	}
	.filter_top .filter_part {
		font-size: 30px;
	}
	.container_content .full_screen video {
		padding-top: 30px;
		padding-bottom: 50px;
	}
	.container_content blockquote {
		font-size: 24px;
		margin: 20px 0 40px;
	}
}
@media (max-width: 1024px) {
	.calendar_slider_place .card .vs_place .vs_text {
		font-size: 36px;
	}
	.tournament_place .leader_place .card_sport {
		margin: 0 auto;
		width: 370px;
	}
	.calendar_slider_place .match_results_list .card {
		padding: 20px 0 0;
	}
	.calendar_slider_place.match_results_place .card .vs_place {
		padding: 25px 20px 40px;
	}
	.fancybox-content.hide_card_sport {
		padding: 26px;
	}
	.hide_card_sport .card_sport {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
		margin-top: 30px;
	}
	.hide_card_sport .inner_hide_card .data_player .role {
		padding-top: 0;
		font-size: 22px;
	}
	.hide_card_sport .inner_hide_card .title {
		padding-bottom: 15px;
		padding-top: 30px;
	}
	.hide_card_sport .inner_hide_card .more_data_card .back_board {
		font-size: 16px;
		margin-right: -26px;
		margin-left: -26px;
		border-radius: 0;
		padding: 0 24px;
	}
	.hide_card_sport
		.inner_hide_card
		.more_data_card
		.back_board
		.part_board:first-child
		.left,
	.hide_card_sport
		.inner_hide_card
		.more_data_card
		.back_board
		.part_board:first-child
		.right {
		padding-top: 24px;
	}
	.hide_card_sport
		.inner_hide_card
		.more_data_card
		.back_board
		.part_board:last-child
		.left,
	.hide_card_sport
		.inner_hide_card
		.more_data_card
		.back_board
		.part_board:last-child
		.right {
		padding-bottom: 24px;
	}
	.hide_card_sport .inner_hide_card .more_data_card .achievements {
		font-size: 16px;
	}
	.hide_card_sport
		.inner_hide_card
		.more_data_card
		.achievements
		ul
		li:before {
		font-size: 36px;
	}
	.hide_card_sport .inner_hide_card .more_data_card .achievements .type {
		font-size: 22px;
	}
	.hide_card_sport .inner_hide_card .data_player .num,
	.hide_card_sport .inner_hide_card .title {
		font-size: 34px;
	}
	.hide_card_sport .inner_hide_card {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.hide_card_sport .inner_hide_card .more_data_card {
		width: auto;
		margin-left: 0;
		margin-top: 40px;
	}
	.active_menu .mega_menu {
		padding: 30px;
	}
	.mega_menu .menu_list .parent_item_list {
		width: 50%;
	}
	.mega_menu .menu_list .parent_item_list:nth-child(2n) {
		padding-right: 0;
	}
	.container_ui,
	.container_content {
		width: 100%;
		max-width: 100%;
		padding-left: 22px;
		padding-right: 22px;
	}
	.parts_contact_place {
		font-size: 20px;
	}
	.parts_contact_place .part_contact {
		padding-bottom: 15px;
	}
	.container_without_p {
		padding-left: 0;
		padding-right: 0;
	}
	.main_slider_place .slide .text-place {
		position: relative;
		height: auto;
		padding: 32px 24px;
	}
	.main_slider_place .slide .text-place.smooth_back {
		background: #3066bf;
	}
	.main_slider_place .content-slide {
		width: 100%;
	}
	.main_slider_place .content-slide .part {
		font-size: 32px;
	}
	.main_slider_place .slider_init .slick-arrow {
		display: none !important;
	}
	.calendar_slider_place {
		padding: 40px 0 0 0;
	}
	.calendar_slider_place .card {
		width: 280px;
	}
	.calendar_slider_place .card .date_time {
		padding: 0 24px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.calendar_slider_place .card .data_place,
	.calendar_slider_place .card .time_place {
		padding: 0;
		font-size: 24px;
	}
	.calendar_slider_place .card .vs_place {
		padding: 25px 20px 40px;
	}
	.calendar_slider_place .card .data_place:after {
		content: none;
	}
	.calendar_slider_place .card .desc_place {
		font-size: 24px;
		padding: 0 24px 10px;
	}
	.calendar_slider_place .owl-stage-outer {
		padding-bottom: 60px;
	}
	.calendar_slider_place .center .card {
		-webkit-box-shadow: 0px 5px 40px 0px rgba(47, 82, 143, 0.55);
		box-shadow: 0px 5px 40px 0px rgba(47, 82, 143, 0.55);
	}
	.title_block {
		font-size: 32px;
	}
	.mt60 {
		margin-top: 25px;
	}
	.mb60 {
		margin-bottom: 25px;
	}
	.right-side .calendar_table {
		margin-top: 25px;
	}
	.tournament_place .flex-tournament {
		display: block;
	}
	.tournament_place .table_place {
		width: 100%;
	}
	.table_place .table {
		width: 100%;
		overflow-x: auto;
		margin-bottom: 25px;
		padding-bottom: 0;
	}
	.tournament_place .leader_place {
		margin-top: 120px;
		width: 100%;
		padding-left: 0;
	}
	.card_sport .info_card {
		margin-top: -47%;
		padding: 120px 20px 38px;
		background-size: contain;
	}
	.card_sport .info_card .num {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
		-ms-flex-item-align: start;
		-ms-grid-row-align: start;
		align-self: start;
		padding-right: 0;
		text-align: right;
		margin-top: -70px;
	}
	.card_sport .info_card:before {
		content: "";
		position: absolute;
		bottom: 0;
		top: 50%;
		left: 0;
		right: 0;
		background: #3066bf;
		z-index: 1;
	}
	.card_sport .more_info .birth {
		font-size: 18px;
	}
	.mob_hide {
		display: none !important;
	}
	.mob_show {
		display: block;
	}
	.media_mob_list .part {
		height: 400px;
	}
	.slide_media_place .text-place {
		font-size: 16px;
		padding: 40px 16px 16px;
	}
	.slide_media_place .text-place .data {
		font-size: 14px;
	}
	.slide_media_place .text-place .link {
		padding-bottom: 8px;
	}
	.media_mob_list .num {
		position: absolute;
		top: 15px;
		right: 15px;
	}
	.slide_media_place .news_part picture img {
		width: 100%;
		-o-object-position: 0 20%;
		object-position: 0 20%;
	}
	.slide_media_place .part {
		margin-right: 0;
		margin-bottom: 25px;
	}
	.slide_media_place .part:last-child {
		margin-bottom: 0;
	}
	.video_ico:after {
		width: 50px;
		height: 50px;
		top: calc(50% - 55px);
		right: calc(50% - 25px);
	}
}
@media (max-width: 991px) {
	.card .set_list.with_wave_in_cart {
		margin-bottom: 14px;
	}
	.list_owner_data {
		padding: 24px 0 24px 24px;
	}
	.list_owner_data .tabs_place {
		width: 100%;
		overflow-y: scroll;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin-right: -24px;
	}
	.list_owner_data .tabs_place .tab {
		margin-right: 25px;
		white-space: nowrap;
	}
	.list_owner_data .tabs_place::-webkit-scrollbar {
		width: 0;
		height: 0;
	}
	.list_owner_data .tabs_place {
		-ms-overflow-style: none;
	}
	.list_owner_data .tabs_place {
		overflow: -moz-scrollbars-none;
	}

	.list_owner_data .tabs_content_place {
		padding-right: 24px;
		width: 100%;
		border-left: none;
		padding-left: 0;
		margin-left: 0;
	}
	.btn_link {
		padding: 15px 70px;
	}
	.sponsor_list .part {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.sponsor_list .data_sponsor {
		width: 100%;
	}
	.sponsor_list .logo_sponsor {
		-ms-flex-item-align: center;
		-ms-grid-row-align: center;
		align-self: center;
		margin-bottom: 40px;
		height: 220px;
	}
	.partners_list .part {
		width: 50%;
		margin-bottom: 30px;
		text-align: center;
	}
	.double_side {
		display: block;
	}
	.filter_left {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-bottom: 30px;
	}
	.filter_left .filter_part.active {
		padding-bottom: 10px;
	}
	.filter_left .filter_part {
		padding-bottom: 24px;
		padding-right: 24px;
	}
	.double_side .left-side {
		margin-right: 0;
	}
	.pager_cards_list.grid {
		-ms-grid-columns: (1fr) [1];
		grid-template-columns: repeat(1, 1fr);
	}

	.pager_cards_list.rain {
		grid-template-columns: repeat(1, 1fr);
	}

	.calendar_slider_place .match_results_list .card,
	.pager_cards_list .pager_card {
		width: 100%;
		margin-right: 0;
	}
	.list_team {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.news_slider_place .news .text-place {
		font-size: 20px;
	}
	.news_slider_place .news .text-place .data {
		font-size: 18px;
	}
	.media_place .btn_with_arrows {
		margin-top: 20px;
	}
	footer {
		padding: 40px 25px;
	}
}
@media (max-width: 767px) {
	header .soc_t {
		display: none;
	}
	.calendar_slider_place .card .vs_place .vs_text {
		font-size: 33px;
		padding: 0 2px;
	}
	.calendar_slider_place.match_results_place .card .stage {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
		width: 100%;
		text-align: center;
	}
	.calendar_slider_place.match_results_place .card .data_place,
	.calendar_slider_place.match_results_place .card .time_place {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
	}
	.sponsor_list .data_sponsor .content_sponsor {
		font-size: 20px;
	}
	.main_banner .page_title {
		font-size: 40px;
		word-break: break-word;
	}
	.sponsor_list .logo_sponsor {
		width: 100%;
	}
	.sponsor_list .data_sponsor .title_sponsor {
		font-size: 35px;
		word-break: break-word;
	}
	.partners_list .part {
		width: 100%;
	}
	.special_date_title {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		margin-bottom: 0;
	}
	.special_date_title * {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
	}
	.special_date_title .right_date {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
		margin-left: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin-bottom: 15px;
	}
	.special_date_title .right_date *:first-child {
		border-bottom: 0;
		border-right: 2px solid #3066bf;
	}
	.pagination .part {
		margin-right: 10px;
		font-size: 20px;
		width: 30px;
		height: 30px;
		line-height: 16px;
	}
	.pagination .arrow {
		line-height: 19px;
	}
	.pager_cards_list .pager_card .text-place .link {
		font-size: 18px;
	}
	.desc_photo {
		margin-left: 0;
	}
	.desc_photo p {
		padding-bottom: 0;
	}
	.fancybox-slide--html .hide_card_sport .fancybox-close-small {
		padding: 10px;
		right: 9px;
		top: 9px;
	}
	.fancybox-content.hide_card_sport {
		padding: 20px;
		overflow-x: hidden;
	}
	.filter_top {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: baseline;
		-ms-flex-align: baseline;
		align-items: baseline;
	}
	.filter_top .filter_part {
		margin-right: 0;
		padding-bottom: 20px;
	}
	.list_team .player {
		margin-bottom: 30px;
	}
	.def_pt_page {
		padding-top: 30px;
	}
	.list_team {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.list_team .player {
		margin-right: 0;
	}
	.mega_menu .menu_list .parent_item_list {
		width: 100%;
		padding-right: 0;
		padding-bottom: 40px;
	}
	.desc_b .part:nth-child(1) {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
	}
	.desc_b .part:nth-child(2) {
		-webkit-box-ordinal-group: 4;
		-ms-flex-order: 3;
		order: 3;
		margin-top: 15px;
	}
	footer .menu_b .part {
		padding-right: 10px;
		padding-bottom: 10px;
		width: calc(50% - 10px);
	}
	footer .menu_b .part:nth-child(2n) {
		padding-right: 0;
	}
	footer .menu_b.def_pb_b {
		padding-bottom: 30px;
	}
	footer .menu_b ul {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: start;
	}
	.desc_b .part:nth-child(3) {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
	}
	header {
		padding: 10px 0;
	}
	.logo_place path {
		display: none;
	}
	.logo_place .mob_logo {
		display: block;
	}
	.logo_place {
		width: 70px;
	}
	.partners_list {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.mb100 {
		margin-bottom: 50px;
	}
	.partners_place {
		padding-bottom: 80px;
	}
	.tournament_place .table_place .table {
		padding-bottom: 10px;
	}
	.table .header_table,
	.table .body_table {
		width: 800px;
	}
	.tournament_place .table_place .table_scroll {
		margin-right: -22px;
	}
	.media_mob_list .part {
		height: 200px;
	}
	.nav_by_slider {
		display: none;
	}
	.btn_with_arrows {
		margin-top: 30px;
	}
	.btn_with_arrows .btn_link {
		width: 100%;
		text-align: center;
		padding: 15px 40px;
	}
	.full-btn .btn_link {
		padding: 15px 70px;
	}
	.but_to_top {
		width: 60px;
		right: 10px;
		bottom: 10px;
	}
	.news_slider_place {
		padding-left: 22px;
		padding-right: 22px;
	}
	.news_slider_place .news {
		position: relative;
		width: 100% !important;
		margin-bottom: 24px;
		display: none;
	}
	.news_slider_place .news:nth-child(1),
	.news_slider_place .news:nth-child(2),
	.news_slider_place .news:nth-child(3) {
		display: block;
		height: 220px;
	}
	.news_slider_place .news:nth-child(1) {
		height: 300px;
	}
	.news_slider_place .news:nth-child(3) {
		margin-bottom: 0;
	}
	.news_slider_place .news .text-place {
		height: auto;
		padding: 50px 16px 16px 16px;
		font-size: 20px;
	}
	.news_slider_place .news picture img {
		height: 100%;
		width: 100%;
		-o-object-fit: cover;
		object-fit: cover;
	}
}
@media (max-width: 430px) {
	.tournament_place .leader_place .card_sport {
		margin: 0 auto;
		width: 100%;
	}
}
